* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff !important;
}

::-webkit-scrollbar{
    display: none;
}

.navbar-brand img {
    width: 75px;
    height: auto;
    margin: 0 2px 0 100px;
}

.search {
    background-color: rgb(240, 222, 194);
    border-style: none;
    border-radius: 20px 0 0 20px;
    height: 27px;
    margin-right: 70px;
}

.btn-search {
    padding: 3px;
    border-radius: 0 20px 20px 0;
    background-color: rgb(240, 222, 194);
    margin-left: 10px;
    margin-right: 30px;
    border-style: none;
}


.section {
	width: 100%;
	min-height: 100vh;
}

.container {
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
}

.content-section {
	float: left;
	width: 55%;
}

.image-section {
	float: right;
	width: 40%;
}

.image-section img {
	width: 100%;
	height: auto;
}

.content-section .title {
    text-align: center;
	text-transform: uppercase;
    font-family: 'Nanum Myeongjo', serif;
	font-size: 28px;
}

.content-section .content h3{
	margin-top: 20px;
	color:#5d5d5d;
	font-size: 21px;
    font-family: 'Playfair Display', serif;
}

.content-section .content p {
	margin-top: 10px;
	font-family: 'Martel', serif;
	font-size: 15px;
	line-height: 1.5;
}

.content-section .social {
	margin: 40px 40px;
}

@media screen and (max-width: 768px) {
	.container {
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}

.content-section {
	float:none;
	width:100%;
	display: block;
	margin:auto;
}

.image-section {
	float:none;
	width:100%;
	
}

.image-section img {
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}

.content-section .title {
	text-align: center;
	font-size: 19px;
    font-family: 'Nanum Myeongjo', serif;
}

}

/*FOOTER*/
.bottom, .copyright {
    margin: auto;
    width: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 100%;
    text-align: center;
}

.bottom .copyright p {
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    font-weight: bold;
}

.fa:hover {
    text-decoration: none;
    color: #000;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: #000;
}